.form-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;


}

.client-form div {
    display: flex;
    flex-direction: column;
    align-items :first baseline;
    padding: 0.3rem;
}

.main-button {
    width: 280px;
     padding: 0.5rem;
  font-size: 1rem;
  background-color:rgba(4, 83, 242, 1);
  min-height: 5vh;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Helvetica;
  font-weight: 900;
}

.main-button:hover {
    width: 280px;
     padding: 0.5rem;
  font-size: 1rem;
  background-color:rgb(68, 120, 224);
  min-height: 5vh;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Helvetica;
  font-weight: 900;
}
.secondary-button {
    width: 280px;
     padding: 0.5rem;
  font-size: 1rem;
  min-height: 5vh;
  color: #007bff;

  background-color: transparent;
  border: solid 2px rgba(4, 83, 242, 1);
  border-radius: 4px;
  cursor: pointer;
  font-family: Helvetica;
  font-weight: 900;
}


.client-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background:white;
    gap: 0.5rem;
    width: 300px;
    border-radius: 12px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.client-form label {
  font-weight: bold;
  font-family: Helvetica;
  font-size: 1rem;
  padding-bottom: 0.2rem;
}

.client-form input{
    width: 280px;
    

}

.client-form select{
    width: 280px;
    min-height: 3vh;
}

buttons-container {
    display: flex;
    flex-direction: row;
}